<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="100000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>

      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active" id="slide1">
          <p class="flex-caption">
            <img style="width: 60%;" src="http://www.jaybirdsport.com/static/img/x3-logo-tag.png" alt="" />
          </p>
        </div>

        <div class="item" id="slide2">
          <p class="flex-caption">
            <img style="width: 60%;" src="http://www.jaybirdsport.com/static/img/x3-logo-tag.png" alt="" />
          </p>
        </div>

        <div class="item" id="slide3">
          <p class="flex-caption">
            <img style="width: 60%" src="http://www.jaybirdsport.com/static/img/x3-logo-tag.png" alt="" />
            <!-- 340.5 -->
          </p>
        </div>
      </div>

      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <div class="home-one">
      <!-- <video class="video-test" src="https://www.youtube.com/watch?v=3C4iUeU8yBM" autoplay controls></video> -->
      <iframe class="video-test" width="854" height="480" src="https://www.youtube.com/embed/MysTaFc2rZo?autoplay=1" frameborder="0" allowfullscreen ng-if="showVid"></iframe>
      <div class="fade" ng-click="showVid=!showVid" ng-show="showVid">

      </div>
      <div class="play" ng-click="showVid=!showVid"></div>
      <div class="video-block">POWER YOUR PASSION</div>
    </div>
    <div class="home-two">
      <div class="float1 clear x2-home twenty-five">
        <img class="x3" src="http://www.jaybirdsport.com/static/img/X3-logo.png" alt="" />
        <p>Locked and loaded, ready for anything you can dish out. Bring big wireless sound to the trails, the slopes, the streets, the gym and anything in-between.</p>
        <div class="page-btn"><span>Learn More</span></div>
      </div>
    </div>
    <div class="home-three">
      <div class="floatr clear f5-home twentyfive whitetxt">
        <img class="f5" src="http://www.jaybirdsport.com/static/img/F5-logo.png" alt="" />
          <p>Jaybird's smallest wireless buds ever bring incredible customizable sound to a micro-sized universal-fit sweat-proof metal design that blurs the lines between premium sport audio and fashion.</p>
          <div class="page-btn"><span>Learn More</span></div>
      </div>
    </div>
