@import url('//db.onlinewebfonts.com/c/335787aa6f57d71cabe8eb5dc89c6d6b?family=Blender+Pro');
@font-face {font-family: "Blender Pro";
    src: url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot");
    src: url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/335787aa6f57d71cabe8eb5dc89c6d6b.svg#Blender Pro") format("svg");
}

$font: 'Blender Pro';
$bolder: #8c8c8c;
.spacer {
  height: 180px;
}
.cart-text {
  font-family: $font;
  font-weight: 500;
  position: absolute;
  padding-top: 10vh;
  padding-left: 10vw;
  text-transform: uppercase;
  z-index: 200;
}
.cart-image-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 70px;
  .qty {
    font-size: 40px;
    margin: auto 0;
    margin-right: 10vw;
    font-family: $font;
    color: $bolder;
  }
  .cart-image {
    border: 2px solid #999;
    width: 60vw;
    height: 25vh;
    margin: 20px 20px 0px 20%;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    .fa-times-circle {
      margin-left: 118px;
      font-size: 20px;
      padding-top: 20px;
      padding-right: 20px;
      height: 20px;
      &:hover {
        color: $bolder;
        cursor: pointer;
      }
    }

    .products-in-cart{
      width: 200px;
      position: relative;
      // margin-top: 20vh;
      left: 10vh;
      z-index: -1;
    }
    .order-price {
      display: flex;
      justify-content: space-around;
      margin: auto 0;
      font-family: $font;
      font-size: 40px;
      color: #8c8c8c;
    }
  }
}
